header,
footer {
	background-color: #black;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
header,
nav,
main,
footer {
	max-width: 767px;
    margin: 0 auto;
}
